.section{
  position: relative;
  width: 100%;
}

.background-video{
  width: 100vw;
  height: calc(100vh - 50px);
  object-fit: cover;
}

.map{
 display: flex;
 justify-content: center;
}
.map-pic img{
  border: 3px solid bisque;

}

.logo img{
  display: flex;
  justify-content: center;
}

.upper-section{
  h1{
    color: bisque;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
  }

  p{
    color: bisque;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }

}

.footer {
  h2{
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border: 1px solid bisque;
    border-radius: 10px ;


  }
}
