// Specific CSS for your home-page
.section{
  position: relative;
  width: 100%;
}

.content{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container{
  text-align: center;
}

.searchbar{
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid bisque;
  border-radius: 10px;
  margin: 100px;
  padding: 15px 23px;
  color: bisque;
}

.searchbar img{
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.searchbar button{
   width: 30px;
   height: 30px;
   border-radius: 10px;
}

.searchbar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 25px;
  color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

::placeholder {
  color: bisque;
}

.upper-banner{
    h1{
      color: bisque;
      font-size: 38px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
    }
}

.container {
    h2{
      color: bisque;
      font-size: 25px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;

    }
}

.searchbar .mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  // border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  input {
    color: bisque;
  }
  input:focus {
    color: bisque;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
}
