// Import page-specific CSS files here.
@import "home";


h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #467060;
  font-weight: bold;
  text-align: center;
}

.index-background {
 background: url("assets/light.png");
 background-size: cover;
 height: 100%;
 width: 100%;
}
