
    <footer>
      <div style="width:100%">
        <div class="footer-content" style=" width:100%; bottom:0; left:0; right:0;">
          <p> Your humble guide to get hammered   -by Alex, Callum and Claudia </p>
          <ul class="socials">
              <li><a href="#"><i class=" fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class=" fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class=" fa-brands fa-google-plus"></i></a></li>
              <li><a href="#"><i class=" fa-brands fa-youtube"></i></a></li>
              <li><a href="#"><i class=" fa-brands fa-linkedin-square"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
