.phbtn {
  background: #DCBF9A;
  border: #DCBF9A 1px solid;
  padding: 8px 16px;
  border-radius: 5px;
}

.ph-green {
  background: #457060;
  border: #457060 1px solid;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: #FEE4C4;
}
