<div class="section">
   <%= video_tag "confirmation.mp4", autoplay: true, muted: true, loop: true, class: "background-video" %>
<div class="content">
  <div class="upper-section">
   <h1>Enjoy your pub crawl</h1>
   <p>Your pub crawl contains 5 pubs and is 2,2 miles long</p>
  </div>
  <div class="map">
    <%= image_tag "confirmation-map.png", class: "map-pic",  style: "height:300px; width:500px; "%>
  </div>
  <div class="footer">
   <h2> !!CHEERS!!! </h2>
   <div style="display:flex; justify-content:center"><%= image_tag "bear.png", class:"logo" %></div>
  </div>
</div>
</div>
