<h1>Featured Pubs</h1>
<div class="container">
  <div class="pub-row d-flex justify-content-between">
    <div class="pub-card" style="width: 30rem;">
      <% @pubs.each do |pub| %>
        <ul>
          <li class="list-group-item"><strong>Name:</strong><%= pub.name %></li>
          <li class="list-group-item"><strong>Address:</strong><%= pub.address %></li>
          <li class="list-group-item"><strong>Description:</strong><%= pub.description %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
